* {
    box-sizing: border-box;
}
body {
    
    background-color: rgb(230, 230, 230);
}

.form {
    display: block;
    width: 400px;
    height: 500px;
    background-color:rgb(230, 230, 230);
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border: rgba(255, 255, 255, 0) 3px solid;
    padding: 50px 0px;
    border-radius:0px 50px 0px 50px ;
    transition: 0.5s;
    
}


.top-text, .username ,.password, .submit {
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    
    
    
}
.top-text {
    font-size: 80px;
}
.username, .password {
    font-size: 15px;
    margin-top: 50px;
    padding: 15px;
    background-color:rgb(233, 231, 231) ;
    transition: 0.5s;
    width: 350px;
    border: solid 3px rgba(255, 255, 255, 0);
    border-radius: 30px;
}

    

.submit {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding:8px 15px;
    margin-top: 50px;
    background-color:rgb(233, 231, 231) ;
    border: solid 3px rgba(255, 255, 255, 0);
   
    transition: 0.5s;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-weight: 600;

}

.username:hover, .password:hover,.username:focus,.password:focus {
    border: solid 3px rgb(255, 255, 255);
    box-shadow: inset 10px 10px 20px 0px rgba(119, 119, 119, 0.3),
                inset -10px -10px 20px 0px rgba(255, 255, 255, 0.8),
                15px 15px 20px 5px rgba(119, 119, 119, 0.3),
                -15px -15px 20px 5px rgba(255, 255, 255, 0.8); ;
                text-align: left;
}
.submit:hover {
    border: solid 3px rgb(255, 255, 255);
    box-shadow: 15px 15px 20px 5px rgba(119, 119, 119, 0.3),
                -15px -15px 20px 5px rgba(255, 255, 255, 0.8);
                
}
.form:hover {
    box-shadow: 15px 15px 20px 5px rgba(119, 119, 119, 0.3),
                -15px -15px 20px 5px rgba(255, 255, 255, 0.8),
                inset 5px 5px 20px 5px rgba(119, 119, 119, 0.3),
                inset -10px -10px 20px 5px rgba(255, 255, 255, 0.8);
    border: rgb(255, 255, 255) 3px solid;
    width: 420px;
    height: 520px;
    margin-top: 190px;
    padding-top: 60px;
    
}